<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<div id="orders">

  <% if @customer.orders.present? %>
    <h1>Orders</h1>
    <table>
      <thead>
        <tr>
          <th>Product name</th>
          <th>Product count</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <%= render @customer.orders %>
      </tbody>
    </table>
  <% end %>
  
  <h2>Add an Order</h2>
  <%= render partial: "orders/form", locals: {order: @customer.orders.new } %>
</div>

<%= link_to 'Edit', edit_customer_path(@customer), class: "btn btn-primary"  %> |
<%= link_to 'Back', customers_path, class: "btn btn-primary"  %>
