<p id="notice"><%= notice %></p>

<h1>Order</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Product name</th>
      <th>Product count</th>
      <th>Customer</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @order.id %></td>
        <td><%= @order.product_name %></td>
        <td><%= @order.product_count %></td>
        <td><%= @order.customer.full_name %></td>
        <td><%= link_to 'Show', @order %></td>
        <td><%= link_to 'Edit', edit_order_path(@order) %></td>
        <td><%= link_to 'Delete', @order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %> | <%= link_to 'Customers', customers_path %>