<p id="notice"><%= notice %></p>

<div class="card" style="width: 36rem;">
  <img src="https://media.geeksforgeeks.org/wp-content/uploads/gfg-40.png" width="30" height="30" class="card-img-top" alt="image">
  <div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <h5 class="card-title">Order</h5>
    <p class="card-text"></p>
    

<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Product name</th>
      <th>Product count</th>
      <th>Customer</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @order.id %></td>
        <td><%= @order.product_name %></td>
        <td><%= @order.product_count %></td>
        <td><%= @order.customer.full_name %></td>
      </tr>
  </tbody>
</table>

<br>
<div class="container" allign-center>
<span class="align-middle">
<%= link_to 'Show', @order, class: "btn btn-primary btn-sm" %>
<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary btn-sm" %>
<%= link_to 'Delete', @order, class: "btn btn-primary btn-sm",  method: :delete, data: { confirm: 'Are you sure?' } %>
</span>
</div>
<br>
<br>
<br>
<%= link_to 'New Order', new_order_path, class: "btn btn-outline-secondary btn-sm" %> <%= link_to 'Customers', customers_path, class: "btn btn-outline-secondary btn-sm" %>

  </div>
  </div>
</div>